## Datasource
spring.datasource.url=jdbc:mariadb://db:3306/dei_xmas
spring.datasource.username=dei_xmas
spring.datasource.password=PAb2S6ChphWLELLZ9k68
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

## Jpa
spring.jpa.database-platform=org.mariadb.jdbc.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=false
spring.jpa.open-in-view=false

## Server
server.port=8080
logging.level.root=WARN

## Multipart
# Enable multipart uploads
spring.servlet.multipart.enabled=true
# Threshold after which files are written to disk.
spring.servlet.multipart.file-size-threshold=2KB
# Max file size.
spring.servlet.multipart.max-file-size=200MB
# Max Request Size
spring.servlet.multipart.max-request-size=215MB

## Locale
spring.jackson.date-format=yyyy-MM-dd HH:mm:ss
spring.jackson.time-zone=Europe/Lisbon

## External APIs
api.basketstore.url=https://prohmakas.rnl.tecnico.ulisboa.pt/basket-store/api/v1
api.basketstore.key=api_key
